.item-details {
    text-align: center;
    margin-top: 10px;
  }
  
  .item-details h2 {
    font-size: 1.2em;
    margin: 5px 0;
  }
  
  .item-details p {
    font-size: 1em;
    color: #555;
  }
  
  
  .item-detail h2 {
    margin: 20px 0 10px;
  }
  
  .item-detail p {
    margin: 10px 0;
  }
  
  .item-detail .price {
    font-size: 1.5rem;
    color: #f00;
  }
  
  .item-detail button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  